body {
    background: linear-gradient(135deg, #7A7BFC 0%, #9091EA 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-card {
    width: 100%;
    max-width: 380px;
    padding: 45px 35px;
    
    background: linear-gradient(180deg, 
                rgba(255, 255, 255, 0.6) 0%, 
                rgba(255, 255, 255, 0.2) 50%, 
                rgba(138, 139, 252, 0.4) 100%); 
    
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px);
    
    border: 1px solid #000000;;
    border-radius: 60px 60px 70px 70px; 
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    
    position: relative;
    z-index: 10;
}

.login-card h2 {
    font-weight: 900;
    color: #000000;
    text-align: center;
    margin-bottom: 35px;
    letter-spacing: 1.5px;
}

.form-control,
.form-select {
    background-color: #ffffff !important;
    border: none;
    border-radius: 20px; 
    padding: 14px 22px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.12); 
    margin-bottom: 15px;
}

.btn-primary {
    background: linear-gradient(180deg, #4A51C5 0%, #2E3494 100%);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 45px;
    font-weight: 800;
    display: block;
    margin: 30px auto 0;
    box-shadow: 0 8px 20px rgba(46, 52, 148, 0.4);
    transition: 0.3s ease;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.btn-primary:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 10px 25px rgba(46, 52, 148, 0.5);
}